langchain
langchain-openai
langchain_community
streamlit
pypdf
faiss-cpu
sentence-transformers
python-dotenv
fastapi
uvicorn
python-multipart
dotenv
openai
requests
langchain-huggingface
transformers
accelerate
bitsandbytes
langchain-mistralai